[submodule "book/theses/De-methode-van-Macaulay-voor-tweedimensionale-constructies"]
	path = book/theses/De-methode-van-Macaulay-voor-tweedimensionale-constructies
	url = https://github.com/jvanderWulp/De-methode-van-Macaulay-voor-tweedimensionale-constructies
