[submodule "book/theses/De-methode-van-Macaulay-voor-tweedimensionale-constructies"]
	path = book/theses/De-methode-van-Macaulay-voor-tweedimensionale-constructies
	url = https://github.com/jvanderWulp/De-methode-van-Macaulay-voor-tweedimensionale-constructies
[submodule "book/theses/Macaulay-s-toegepast-met-invloedslijnen"]
	path = book/theses/Macaulay-s-toegepast-met-invloedslijnen
	url = https://github.com/JuliaJankie/Macaulay-s-toegepast-met-invloedslijnen
[submodule "book/theses/De-methode-van-Macaulay"]
	path = book/theses/De-methode-van-Macaulay
	url = https://github.com/Ezzat1998/De-methode-van-Macaulay
[submodule "book/theses/Beam-examples"]
	path = book/theses/Beam-examples
	url = https://github.com/mvg2002/Beam-examples.git
[submodule "book/theses/BEP_examples_SymPy_1.14.dev"]
	path = book/theses/BEP_examples_SymPy_1.14.dev
	url = https://github.com/mvg2002/BEP_examples_SymPy_1.14.dev.git
[submodule "book/theses/BEP_examples_SymPy_1.12"]
	path = book/theses/BEP_examples_SymPy_1.12
	url = https://github.com/mvg2002/BEP_examples_SymPy_1.12.git
[submodule "book/theses/Macaulay-2D"]
	path = book/theses/Macaulay-2D
	url = https://github.com/AJDBaudoin/Macaulay-2D.git
