# first list the packages you wish to download from PyPI
teachbooks # depends on jupyter-book
numpy
sympy
matplotlib
sphinx-thebe
jupyterbook_patches
sphinx-image-inverter

# now list the packages (and the respective url) you wish to download from the GitLab package registry
--extra-index-url https://gitlab.tudelft.nl/api/v4/projects/11239/packages/pypi/simple
sphinx-thebe ~= 0.9.9